<div class="row collapse remove-fields-wrapper">
  <div class="small-1 columns">
    <div class="field">
      <%= f.check_box :complete, class: 'inline' %>
    </div>
  </div>
  <div class="small-10 columns"> 
    <div class="field">
      <%= f.text_field :description, placeholder: 'Grim Portent', disabled: f.object.complete? %>
    </div>
  </div>
  <div class="small-1 columns">
    <%= content_tag :a, href: '#', class: 'button alert postfix remove-fields' do %>
      x
    <% end %>
  </div>
</div>
