// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.accordion-navigation > a > .remove-fields {
  margin-top: -8px;
}
#portent-panel input[type='checkbox'] {
  margin-top: 12px;
} 
.portent-complete {
  text-decoration: line-through;
}
